.div-block,
.label-enable,
.label-minor,
.label-major,
.label-critical {
    margin: 0.25em;
    padding: 0.5em 1em;
}
.label-enable,
.label-minor,
.label-major,
.label-critical {
    color: white;
    border-radius: 7px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.label-enable {
    background: rgb(66, 184, 221);
}
.label-minor {
    background: rgb(255, 222, 83);
}
.label-major {
    background: rgb(255,148,40);
}
.label-critical {
    background: rgb(254, 0, 0);
}
.span-left-margin {
    margin-left: 5px;
}